<div class="container text-center">
  <h1> Promotional Discounts here!</h1>
  <p><%= button_to "Create new promotion", "/merchants/#{@merchant.id}/discounts/new", method: :get %></p><br>

<ul class="center-col3">
  <h5> Active Promotions</h5>
<% @merchant.discounts.each do |discount|%>

<li class="left-div">Promotions name:  <%=discount.name%><br>
Quantity needed to qualify  <%=discount.threshold%><br>
Percent off:  <%=discount.percent%></li><br>
<%end%>
</ul>
</div>
