<div class="container text-center">
  <% #binding.pry%>
<h3><%=@discount.name%> promotion page.</h3>
 <p>Threshold quantity to qualify: <%=@discount.threshold%><br>
   Percent discount applied: <%=@discount.percent%>%</p>

  </div>
