/*
*= require_tree .
*= require_self
*/

@import "/*";
@import "bootstrap";
 @import "tether";

.merchant-div {
  display: flex;
  flex-direction: row;
  text-align: left;
}
.merchant-adm {
  display: flex;
  flex-direction: row;
  flex: 2;
  text-align: left;
  justify-content: center;
}

.left-div{
text-align: left;
width: 30rem;
padding-left: 8.5rem;
}
.left-div2{
text-align: left;
}
.right-div{
text-align: left;
}
.center-col {
text-align: left;
}
.center-col2 {
  border: 5px solid black;
  height: 40rem;
  overflow: auto;
  width: 30rem;
text-align: left;
padding-left: 2rem;
}
.center-stuff{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.center-stuff2{
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.center-col3 {
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 30rem;
  overflow: auto;
  width: auto;
  text-align: left;
}
.center-col5{
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 30rem;
  text-align: left;
  overflow: auto;
  width: 50%;
  padding-left: 1rem;
}

.center-admin{
padding-left: 29rem;
}
